@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: oklch(59.01% 0.116 170.33);
  --secondary-color: oklch(22.15% 0.097 262.83);
  --white-color: oklch(100% 0.000 0.000);
  --text-color: oklch(0.000 0.000 0.000);

  --logo-size: 156px;

  --header-height: 64px;

  font-family: 'Poppins', 'sans-serif';
  accent-color: var(--primary-color);

  scroll-behavior: smooth;

}